.theorem { background-color: #f5f5f5; font-style: italic; display: block; }
.theorem .name, .theorem .number, .theorem .title {
  font-weight: bold; font-style: normal; }
.proof { display: block; }
.proof .name { font-style: italic; }
